# ignore auxilary python files
auxilary.py

# ignore any ipynb file as they are for draft only
*.ipynb
__pycache__

# ignore reference files
reference

# ignore working directory files
.vscode/
.DS_Store
cache/
